<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack Planner App</title>
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename = 'style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Hack Planner App</h1>
        <ul class="checklist-items">
            {% for item in items %}
            <li>
                <!-- item[0] is id, item[1] is item text -->
                {{item[1]}}
                <a href="/edit/{{item[0]}}">Edit</a>
                <a href="/delete/{{item[0]}}">Delete</a>
                <button onclick = "setReminder('{{item[1]}}')">Remind</button>
            </li>
            {% endfor %}
        </ul>
        <form class="add-form" action="/add" method = "post">
            <input type="text" name="item" placeholder="Enter item">
            <button type="submit">Add</button>
        </form>
    </div>

    <script>
        function sendReminderEmail(item){
            fetch('/send_email', {
                method : 'POST',
                headers: {
                    'Content-Type' : 'application/json'
                }, 
                body: JSON.stringify({
                    item:item
                })
            }).then(response => {
                if(response.ok){
                    console.log('Reminder email sent successfully.')
                } else{
                    console.log('Failed to send reminder email.')
                }
            }).catch(error =>{
                console.error("Error occured", error)
            });
        }
        function setReminder(item){
            setTimeout(function(){
                let reminder = confirm("Reminder : " + item);
            }, 5*1000);
            sendReminderEmail(item)
        }
    </script>
</body>
</html>